<footer> 
  <span>
      <nav class = "foot-nav">
          <span href="#"><b style="color:#D6EFC7;">SFA</b></span>
          <p style="color:#D6EFC7;"> <b> &copy; Copyright 2023. All Rights Reserved. SFA </b> </p>
          <a href="https://www.facebook.com" style="color:#D6EFC7;"><b><i class="fa-brands fa-facebook fa-xl"></i></b></a>
          <a href="https://www.linkedin.com" style="color:#D6EFC7;"><b><i class="fa-brands fa-linkedin fa-xl"></i></b></a>
          <a href="https://www.instagram.com" style="color:#D6EFC7;"><b><i class="fa-brands fa-instagram fa-xl" id="insta"></i></b></a>
          <a href="https://www.twitter.com" style="color:#D6EFC7;"><b><i class="fa-brands fa-twitter fa-xl"></i></b></a>
          <a href="https://www.youtube.com" style="color:#D6EFC7;"><b><i class="fa-brands fa-youtube fa-xl"></i></b></a>
          <button class="logout-btn" type="button" (click)="signOut()">
            Logout
          </button>
      </nav>
  </span>
</footer>